body{
    font-family: 'Poppins';
}
.container{
    margin-bottom: 100px;
}

.ml-auto{
    left: auto !important;
    right: 0px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 25px;
}