body{
    font-family: 'Poppins';
}
.container{
    margin-bottom: 100px;
}

.ml-auto{
    left: auto !important;
    right: 0px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 25px;
}
.card-footer{
    background-color: white;
    border-top: none;
    

    margin: 0 auto;
    display: block;
}
.card-body{
    text-align: center;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer h5{
    text-align: center;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}

